/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables & global styles */
:root {
  --hero-bg-overlay-color: black;
  --cta-color: crimson;
  --text-color: white;
  --text-color-2: black;
  --text-heading-section-color: black;
  --card-gradient-color1: #29323c;
  --card-gradient-color2: #485563;
  --card-bg-overlay-color: linear-gradient(60deg, var(--card-gradient-color1) 0%, var(--card-gradient-color2) 100%);
}

html {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-heading-section-color);
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span {
  color: var(--cta-color);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--cta-color);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: var(--text-color);
  background-color: var(--cta-color);
}

/* hero section */
#hero {
  background-image: url("./img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  background-color: var(--hero-bg-overlay-color);
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  font-size: 2rem;
  color: transparent;
  position: relative;
  width: fit-content;
  animation: text_reveal 0.5s ease-out 1s forwards;
}

#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}

#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}

#hero h1:nth-child(3) {
  animation-delay: 3.5s;
}

#hero h1 span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--cta-color);
  animation: text_reveal_box 1s ease 1s;
}

#hero h1:nth-child(1) span {
  animation-delay: 1s;
}

#hero h1:nth-child(2) span {
  animation-delay: 2s;
}

#hero h1:nth-child(3) span {
  animation-delay: 3s;
}

.icon {
  width: 100px;
  max-width: 50px;
  margin-bottom: 20px;
  height: auto;
}

/* service section */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .services-top {
  max-width: 1000px;
}

#services .services-top p {
  color: var(--text-heading-section-color);
  margin: 10px 30px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

#services .services-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url("./img/img-1.jpg");
  background-size: cover;
  margin: 30px 5%;
  z-index: 1;
  color: var(--text-color);
  overflow: hidden;
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: var(--card-bg-overlay-color);
  opacity: 0.7;
  z-index: -1;
}

#services .service-item h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#services .service-item p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* project section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-top h1 {
  margin-bottom: 50px;
}

#projects .recent-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: var(--card-bg-overlay-color);
  color: var(--text-color);
}

#projects .project-info h1 {
  font-size: 3rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 20px 0;
}

#projects .project-img {
  align-self: stretch;
  height: 300px;
  position: relative;
  overflow: hidden;
}

#projects .project-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: var(--card-bg-overlay-color);
  opacity: 0.7;
}

#projects .project-item:hover .project-img img{
  transform: scale(1.1);
}

#projects .project-img img {
  transition: 0.5s ease transform;
}

/* about section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .about .left-column {
  width: 250px;
  height: auto;
}

#about .about .left-column .about-img {
  position: relative;
  border: 7px solid var(--text-color);
  height: 100%;
  width: 100%;
  left: 16px;
}

#about .about .left-column .about-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid var(--cta-color);
  z-index: -1;
}

#about .about .right-column {
  width: 100%;
}

#about .about .right-column h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#about .about .right-column p {
  color: var(--text-color-2);
}

#about .about .right-column .cta {
  color: var(--cta-color);
  margin-bottom: 50px;
}

#about .about .right-column .cta:hover {
  color: var(--text-color);
}

/* contact section */
#contact .contact {
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

#contact .contact-top {
  padding-top: 100px;
}

#contact .contact-items {
  width: 100%;
  max-width: 600px;
  padding-bottom: 100px;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0 0 20px 0 #acacac;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0 0 10px 0 #c9c9c9;
}

#contact .contact-item p {
  color: var(--text-color-2);
}

#contact .contact-info h1 {
  margin-bottom: 5px;
}

#contact .contact-info p {
  font-size: 1.1rem;
  line-height: 2rem;
}

/* footer section */
#footer {
  background-image: var(--card-bg-overlay-color);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#footer .footer .brand {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-color);
}

#footer .footer h2 {
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  margin: 10px 0;
  color: var(--text-color);
}

#footer .footer p {
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  margin: 10px 0;
}

#footer .footer .social-icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  width: 70%;
}

#footer .footer .social-item {
  height: 30px;
  margin: 0 5px;
  transition: 0.3s ease;
  transition-property: transform, filter;
}

#footer .footer .social-item img {
  width: auto;
  max-width: 100%;
  filter: brightness(0) invert(1);
  transition: 0.2s ease;
}

#footer .footer .social-item:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(0);
}

#footer .footer .social-item:hover img {
  filter: brightness(1) invert(0);
}

/* media queries */
@media only screen and (min-width:768px) {
  .cta {
    font-size: 2rem;
    padding: 15px 45px;
  }

  .section-title {
    font-size: 2.5rem;
  }

  #footer .footer h2 {
    font-size: 1.2rem;
  }

  #hero h1 {
    font-size: 3rem;
  }

  #services .services-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    flex-direction: row;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #projects .recent-projects .project-info, #projects .recent-projects .project-img {
    height: 100%;
    width: 50%;
  }

  #about .about {
    flex-direction: row;
  }

  #about .about .left-column {
    width: 400px;
    height: 300px;
    padding-left: 60px; 
  }

  #about .about .left-column .about-img::after{
    left: -45px;
    top: 34px;
    height: 98%; 
    width: 98%;
    border: 10px solid var(--cta-color);
  }

  #about .about .right-column {
    text-align: left;
    padding: 30px;
  }

  #about .about .right-column .cta{
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 50px;
  }

  #about .about .right-column h1 {
    text-align: left;
  }

  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact .contact-top {
    padding: 0;
  }

  #contact .contact .contact-items {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
  }

  #contact .contact .contact-items .contact-item {
    margin: 20px;
  }

  #contact .contact-info p {
    font-size: 0.8rem;
  }
}

/* keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: var(--text-color);
  }  
}